*~
*#
*~
*.swp
*.tmp
.DS_Store
vim/vim/plugged/*
/vim/vim/.netrwhist

/vim/vim/ftplugin/go.vim
/vim/vim/autoload/gocomplete.vim
fish/fish_history
fishd.*

fish/fish_read_history
.smex-items
elpa
emacs/emacs.d/places
vim/vim/view
nix/**/result
nix/**/result-*

nvim/plugged
nvim/mason
nvim/.netrwhist
nvim/telescope_history
gnupg/pubring.kbx
vim/.netrwhist
