[submodule "vim/vim/bundle/vundle"]
	path = vim/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "zsh/zsh/plugins/autosuggestions"]
	path = zsh/zsh/plugins/autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "fish/plugins/virtualfish"]
	path = fish/plugins/virtualfish
	url = git@github.com:adambrenecki/virtualfish.git
[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "external/spacemacs"]
	path = external/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "external/mayvenn-layer"]
	path = external/mayvenn-layer
	url = https://github.com/corey/mayvenn-layer
